.sn-badge {
    position: relative;
    vertical-align: middle;
    display: inline-block;

    .badge_external {
        zoom: 1;

        &:after {
            display: block;
            content: '';
            clear: both;
            overflow: hidden;
        }
    }

    .badge_content {
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 2;
        display: inline-block;
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        padding: 0 6px;
        text-align: center;
        border-radius: 10px;
        white-space: nowrap;
        color: #fff;
        background-color: #fa5555;
        transform: translateY(-50%) translateX(100%);
    }
}
