.sn-tabs {
    position: relative;
    width: 100%;
    height: 100%;
}

// 头部
.sn-tabs__header {
    height: 47px;

    &.is-right {
        text-align: right;
    }

    &.is-center {
        text-align: center;
    }
}

// 内容
.sn-tabs__content {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    bottom: 0;
}

.sn-tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.z-hide {
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
}

.sn-tabs__nav {
    position: relative;
    height: 47px;
    background-color: #fff;
    border-bottom: 1px solid #ebeef1;
}

.sn-tabs__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #333;
    cursor: pointer;
    outline: none;

    &:hover {
        color: #45a2ff;
    }

    &.is-active {
        color: #45a2ff;

        .sn-tabs__text {
            border-bottom-color: #45a2ff;
        }
    }

    &.is-disabled {
        color: #999;
        cursor: not-allowed;

        &.is-active {
            .sn-tabs__text {
                border-bottom-color: #999;
            }
        }
    }

    // 风格2--均分宽度
    &.average {
        padding: 0 10px;
        margin: 0;
        text-align: center;

        &:last-child {
            .sn-tabs__line {
                display: none;
            }
        }

        // 分隔线
        .sn-tabs__line {
            display: block;
        }
    }
}

// 文本
.sn-tabs__text {
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

// 分隔线
.sn-tabs__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 1px;
    height: 16px;
    background-color: #e2e6e9;
    margin: auto 0;
}
